.black-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
	width: 100%;
	height:100%;
}

.round-img{
	margin: auto;
	width: 340px;
	height: 360px;
	border-radius: 50%;
	overflow: hidden;
}
.round-img div{
	width: 280px;
	border: 0px;
	overflow: hidden;
	position: relative;
	left: 30px;
}

.round-img div img{
	border: 0px;
	height:360px;
	max-width: none;
	position: relative;
	left: -65px;
}

.shrugs
{
  font-family: "Aclonica";
  font-style: italic;
  font-size: 50px;
  line-height: 50px;
}

.shrugs img
{
	width: 200px
}

@media (min-width: 768px) {
	.shrugs
	{
  		font-family: "Aclonica";
  		font-style: italic;
  		font-size: 90px;
  		line-height: 90px;
  		margin-top: 40px;
	}
	.shrugs img
	{
		width: 300px;
	}
	.right-stuff
	{
		float: right;
	}
	.left-stuff
	{
		float: left;
	}
	.stuff{
		width: 340px;
		text-align: center; 
	}
}

.outro p
{
	color:white;
	font-size: 16px;
}


/*From creative template */
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0, 204, 204, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
	.portfolio-box {
		height: 200px;
	}
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
